Authorize.net/Allocat.CustomService.Authorize.Net/TestAppCustomService/Service References/CustomServiceAuNetRefrence/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Allocat.CustomService.Authorize.Net/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Allocat.CustomService.Authorize.Net.BusinessEntities" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Allocat.CustomService.Authorize.Net/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Allocat.CustomService.Authorize.Net.BusinessEntities.ResponseEntities" />
  <xs:element name="RegisterCustomerAndChargeProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Allocat.CustomService.Authorize.Net.BusinessEntities" minOccurs="0" name="objCustomer" nillable="true" type="q1:Customer" />
        <xs:element minOccurs="0" name="AmountToBeCharged" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCustomerAndChargeProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Allocat.CustomService.Authorize.Net.BusinessEntities.ResponseEntities" minOccurs="0" name="RegisterCustomerAndChargeProfileResult" nillable="true" type="q2:ResCreateCustomerProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerPaymentProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApiLoginID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApiTransactionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Allocat.CustomService.Authorize.Net.BusinessEntities" minOccurs="0" name="objCustomer" nillable="true" type="q3:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerPaymentProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCustomerPaymentProfileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApiLoginID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApiTransactionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerProfileId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApiLoginID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApiTransactionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerProfileId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="merchantCustomerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newEmailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>