Authorize.net/Allocat.CustomService.Authorize.Net/Allocat.CustomService.Authorize.Net/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="APICalls" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Allocat.CustomService.Authorize.Net.BusinessEntities" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Allocat.CustomService.Authorize.Net.BusinessEntities.ResponseEntities" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AllocatCustomService_RegisterCustomerAndChargeProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerAndChargeProfile" />
  </wsdl:message>
  <wsdl:message name="AllocatCustomService_RegisterCustomerAndChargeProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerAndChargeProfileResponse" />
  </wsdl:message>
  <wsdl:message name="AllocatCustomService_CreateCustomerPaymentProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerPaymentProfile" />
  </wsdl:message>
  <wsdl:message name="AllocatCustomService_CreateCustomerPaymentProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerPaymentProfileResponse" />
  </wsdl:message>
  <wsdl:message name="AllocatCustomService_GetCustomerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerProfile" />
  </wsdl:message>
  <wsdl:message name="AllocatCustomService_GetCustomerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="AllocatCustomService_UpdateCustomerProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerProfile" />
  </wsdl:message>
  <wsdl:message name="AllocatCustomService_UpdateCustomerProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="AllocatCustomService">
    <wsdl:operation name="RegisterCustomerAndChargeProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/AllocatCustomService/RegisterCustomerAndChargeProfile" message="tns:AllocatCustomService_RegisterCustomerAndChargeProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AllocatCustomService/RegisterCustomerAndChargeProfileResponse" message="tns:AllocatCustomService_RegisterCustomerAndChargeProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomerPaymentProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/AllocatCustomService/CreateCustomerPaymentProfile" message="tns:AllocatCustomService_CreateCustomerPaymentProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AllocatCustomService/CreateCustomerPaymentProfileResponse" message="tns:AllocatCustomService_CreateCustomerPaymentProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/AllocatCustomService/GetCustomerProfile" message="tns:AllocatCustomService_GetCustomerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AllocatCustomService/GetCustomerProfileResponse" message="tns:AllocatCustomService_GetCustomerProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/AllocatCustomService/UpdateCustomerProfile" message="tns:AllocatCustomService_UpdateCustomerProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AllocatCustomService/UpdateCustomerProfileResponse" message="tns:AllocatCustomService_UpdateCustomerProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_AllocatCustomService" type="tns:AllocatCustomService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterCustomerAndChargeProfile">
      <soap:operation soapAction="http://tempuri.org/AllocatCustomService/RegisterCustomerAndChargeProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomerPaymentProfile">
      <soap:operation soapAction="http://tempuri.org/AllocatCustomService/CreateCustomerPaymentProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerProfile">
      <soap:operation soapAction="http://tempuri.org/AllocatCustomService/GetCustomerProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerProfile">
      <soap:operation soapAction="http://tempuri.org/AllocatCustomService/UpdateCustomerProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APICalls">
    <wsdl:port name="BasicHttpBinding_AllocatCustomService" binding="tns:BasicHttpBinding_AllocatCustomService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Allocat.CustomService.Authorize.Net/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>